:root {
  --primary-color: #b80257;
  --secondary-color: #783df0;
  --text-color: #242222;
  --border-color: #eeeeee;
  --footer-color: #fff9;

  --white: #fff;

  --pt-sans: "PT Sans", sans-serif;
  --source-sans: "Source Sans 3", sans-serif;
}
html {
  font-size: 62.5%;
}
@media (min-width: 300px) and (max-width: 575.98px) {
  .navigation,
  .body,
  .footer {
    max-width: 90%;
  }
  .navigation {
    flex-wrap: wrap;
  }
  .header-logo {
    width: 12rem;
  }
  .header-navigation {
    order: 1;
    width: 100%;
    position: relative;
  }
  .header-navigation > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 36.8rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    overflow-y: auto;
  }
  .header-navigation > ul > li {
    width: 100%;
  }
  .header-navigation > ul > li > a {
    display: flex;
    border: 0.1px solid var(--border-color);
    justify-content: space-between;
    padding: 0rem 1.5rem !important;
    padding-right: 0rem !important;
  }
  .header-navigation > ul > li:has(ul) > a::after {
    content: "‸";
    transform: rotate(180deg);
    color: var(--white);
    display: inline-block;
    width: 4rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    border: 0.1px solid var(--border-color);
  }

  .header-navigation > ul > li > a:hover ~ .sub-menu,
  .sub-menu:hover {
    visibility: 1;
    opacity: 1;
    position: relative;
  }

  .toggle-nav {
    display: block;
    margin-top: 1rem;
    font-size: 4rem;
    color: var(--white);
  }

  .header-search button {
    width: 4rem;
  }

  .header-search {
    width: 18rem;
  }

  .body {
    flex-direction: column-reverse;
    margin: auto;
  }

  .custom-select {
    width: 13rem !important;
  }
  .show-result {
    font-size: 1.4em;
    line-height: 3.5rem;
  }
  .product-list {
    --columns: 1;
  }
  .side-menu {
    margin-top: 8rem;
  }
  .body-container {
    max-width: 100%;
    flex-grow: 1;
  }

  .footer-wrapper {
    height: fit-content;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-logo {
    width: 12rem;
  }
  .footer-large {
    width: 32rem;
    flex: unset;
  }
  .footer-small {
    max-width: 15rem;
  }
  .footer-platform {
    justify-content: flex-start;
    gap: 2rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navigation,
  .body,
  .footer {
    max-width: 90%;
  }
  .navigation {
    flex-wrap: wrap;
  }
  .header-logo {
    width: 12rem;
  }
  .header-navigation {
    order: 1;
    width: 100%;
    position: relative;
  }
  .header-navigation > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 36.8rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    overflow-y: auto;
  }
  .header-navigation > ul > li {
    width: 100%;
  }
  .header-navigation > ul > li > a {
    display: flex;
    border: 0.1px solid var(--border-color);
    justify-content: space-between;
    padding: 0rem 1.5rem !important;
    padding-right: 0rem !important;
  }
  .header-navigation > ul > li:has(ul) > a::after {
    content: "‸";
    transform: rotate(180deg);
    color: var(--white);
    display: inline-block;
    width: 4rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    border: 0.1px solid var(--border-color);
  }

  .header-navigation > ul > li > a:hover ~ .sub-menu,
  .sub-menu:hover {
    visibility: 1;
    opacity: 1;
    position: relative;
  }

  .toggle-nav {
    display: block;
    margin-top: 1rem;
    font-size: 4rem;
    color: var(--white);
  }
  .header-search {
    width: 24rem;
  }

  .body {
    flex-direction: column-reverse;
    margin: auto;
  }
  .product-list {
    --columns: 2;
  }
  .side-menu {
    margin-top: 8rem;
  }
  .body-container {
    max-width: 100%;
    flex-grow: 1;
  }

  .footer-wrapper {
    height: fit-content;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-logo {
    width: 12rem;
  }
  .footer-large {
    width: 32rem;
    flex: unset;
  }
  .footer-small {
    max-width: 15rem;
  }
  .footer-platform {
    justify-content: flex-start;
    gap: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navigation,
  .body,
  .footer {
    max-width: 72rem;
  }
  .navigation {
    flex-wrap: wrap;
  }
  .header-logo {
    width: 12rem;
  }
  .header-navigation {
    order: 1;
    width: 100%;
    position: relative;
  }
  .header-navigation > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 36.8rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    overflow-y: auto;
  }
  .header-navigation > ul > li {
    width: 100%;
  }
  .header-navigation > ul > li > a {
    display: flex;
    border: 0.1px solid var(--border-color);
    justify-content: space-between;
    padding: 0rem 1.5rem !important;
    padding-right: 0rem !important;
  }
  .header-navigation > ul > li:has(ul) > a::after {
    content: "‸";
    transform: rotate(180deg);
    color: var(--white);
    display: inline-block;
    width: 4rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    border: 0.1px solid var(--border-color);
  }

  .header-navigation > ul > li > a:hover ~ .sub-menu,
  .sub-menu:hover {
    visibility: 1;
    opacity: 1;
    position: relative;
  }

  .toggle-nav {
    display: block;
    margin-top: 1rem;
    font-size: 4rem;
    color: var(--white);
  }

  .body {
    flex-direction: column-reverse;
    margin: auto;
  }
  .product-list {
    --columns: 2;
  }
  .side-menu {
    margin-top: 8rem;
  }
  .body-container {
    max-width: 100%;
    flex-grow: 1;
  }

  .footer-wrapper {
    height: fit-content;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-logo {
    width: 12rem;
  }
  .footer-large {
    width: 32rem;
    flex: unset;
  }
  .footer-small {
    max-width: 15rem;
  }
  .footer-platform {
    justify-content: flex-start;
    gap: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navigation,
  .body,
  .footer {
    max-width: 75rem;
  }

  .header-logo {
    width: 12rem;
  }

  .navigation .header-navigation > ul > li > a {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    line-height: 3rem;
  }
  .header-functional {
    gap: 2rem;
  }
  .header-functional > div > .checkbox-label {
    font-size: 1.6rem;
    padding: 0.5rem 0.5rem;
  }
  .header-functional > a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.4rem;
    padding: 1rem;
  }

  .body {
    flex-direction: column-reverse;
    margin: auto;
  }
  .side-menu {
    margin-top: 8rem;
  }
  .body-container {
    max-width: 100%;
    flex-grow: 1;
  }
  .product-list {
    --columns: 2;
  }

  .footer-wrapper {
    height: fit-content;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-logo {
    width: 12rem;
  }
  .footer-large {
    width: 35rem;
    flex: unset;
  }
  .footer-small {
    max-width: 12rem;
  }
  .footer-platform {
    justify-content: flex-start;
    gap: 2rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .navigation,
  .body,
  .footer {
    max-width: 97rem;
  }
  .header-logo {
    width: 14rem;
  }
  .navigation .header-navigation > ul > li > a {
    padding: 0.7rem 1.5rem;
    font-size: 1.3rem;
    line-height: 3.5rem;
  }

  .product-list {
    --columns: 2;
  }
  .footer {
    gap: 2rem;
  }

  .footer-logo {
    width: 14rem;
  }
  .footer-platform {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .footer-small {
    max-width: 14rem;
  }
  .footer-large {
    max-width: 22rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
  .navigation,
  .body,
  .footer {
    max-width: 117rem;
  }
} */
